<div class="flex flex-col gap-small">

  <div class="article flex flex-col gap-medium admin-box">
    <h2><%= "#{Style.model_name.human(count: :many)}: #{Style.count}" %></h2>
    <div class="actions flex gap-medium">
      <%= button_to 'reload', reload_styles_path %>
    </div>
  </div>

  <div class="article flex flex-col gap-medium admin-box">
    <h2><%= "#{Event.model_name.human(count: :many)}: #{Event.count}" %></h2>
    <div class="actions flex gap-medium">
      <%= button_to 'clear', clear_events_path %>
      <%= button_to 'scrape', scrape_events_path %>
    </div>
  </div>

  <div class="article flex flex-col gap-medium admin-box">
    <h2><%= "#{ActsAsTaggableOn::Tag.model_name.human(count: :many)}: #{ActsAsTaggableOn::Tag.count}" %></h2>
    <fieldset>
      <legend><%= Location.model_name.human(count: :many) %></legend>
      <h3><%= "#{t('.total')}: #{@event_tag_stats.location_tags.count}" %></h3>
    </fieldset>

    <fieldset>
      <legend><%= Style.model_name.human(count: :many) %></legend>
      <h3><%= "#{t('.total')}: #{@event_tag_stats.style_tags.count}" %></h3>
    </fieldset>

    <fieldset class="flex flex-col gap-medium">
      <legend><%= Genre.model_name.human(count: :many) %></legend>
      <h3><%= "#{t('.total')}: #{@event_tag_stats.genre_tags.count}" %></h3>
      <h4><%= "Assigned: #{@event_tag_stats.assigned_genre_tags.count}" %></h4>
      <h4><%= "Unassigned: #{@event_tag_stats.unassigned_genre_tags.count}" %></h4>
      <%= link_to t('.assign_unassigned_genres'), genre_style_assignments_path %>
    </fieldset>
  </div>
</div>
