<article id="<%= dom_id event %>" class="flex justify-between gap-small <%= class_names(:event, past: event.start_date < Date.current.beginning_of_day) %>">
  <div class="flex event-info flex-col gap-medium">

    <div class="event-title">
      <h3><%= link_to event.title, event.url, target: :blank %></h3>
      <% if event.subtitle.present? %>
        <h4><%= event.subtitle %></h4>
      <% end %>
    </div>

    <div class="flex flex-row gap-small wrap">
      <% event.locations.each do |location| %>
        <%= button_tag type: :button, class: class_names(:tag, active: filter.location_list.include?(location.name)), data: { action: 'combobox-filter#toggleTag', 'combobox-filter-tag-param': location.name, 'combobox-filter-context-param': 'locations' } do %>
          <div class="flex gap-small">
            <span class="<%= tag_icon_class(context: 'locations') %>"></span>
            <span><%= location %></span>
          </div>
        <% end %>
      <% end %>

      <% if event.styles.any? %>
        <% event.styles.each do |style| %>
          <%= button_tag type: :button, class: class_names(:tag, active: filter.style_list.include?(style.name)), data: { action: 'combobox-filter#toggleTag', 'combobox-filter-tag-param': style.name, 'combobox-filter-context-param': 'styles' } do %>
            <div class="flex gap-small">
              <span class="<%= tag_icon_class(context: 'styles') %>"></span>
              <span><%= style %></span>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <% if event.genres.any? %>
        <% event.genres.each do |genre| %>
          <%= button_tag type: :button, class: class_names(:tag, active: @filter.genre_list.include?(genre.name)), data: { action: 'combobox-filter#toggleTag', 'combobox-filter-tag-param': genre.name, 'combobox-filter-context-param': 'genres' } do %>
            <%# <div class="flex gap-small align-baseline tag"> %>
              <span class="<%= tag_icon_class(context: 'genres') %>"></span>
              <span><%= genre %></span>
            <%# </div> %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if authenticated? %>
    <div class="event-actions">
      <%= button_to event, class: 'button', data: { turbo_method: :delete } do %>
        <span class="ti-trash"></span>
      <% end %>
    </div>
  <% end %>
</article>
