<article id="<%= dom_id event %>" class="flex justify-between gap-small <%= class_names(:event, past: event.start_date < Date.current.beginning_of_day) %>">
  <div class="flex event-info flex-col gap-medium">

    <div class="event-details flex flex-col gap-medium">
      <% if event.start_time.present? %>
        <h5 class="event-time"><%= l event.start_time, format: :time %></h5>
      <% end %>
      <h3 class="event-title"><%= link_to event.title, event.url, target: :blank %></h3>

      <% if event.subtitle.present? %>
        <h4 class="event-subtitle"><%= event.subtitle %></h4>
      <% end %>
    </div>


    <div class="flex flex-col gap-small wrap">

      <% if event.locations.exists? %>
        <div class="location-tags flex gap-small">
          <% event.locations.each do |location| %>
            <%= button_tag type: :button, class: class_names(:tag, active: filter.location_list.include?(location.name)), data: { action: 'filter#toggleFilter', filter_field_name_param: 'l[]', filter_value_param: location.name } do %>
              <div class="flex gap-small">
                <span class="<%= tag_icon_class(context: 'locations') %>"></span>
                <span><%= location %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if event.styles.exists? || event.genres.exists? %>
        <div class="style-and-genre-tags flex gap-small">
          <% event.styles.each do |style| %>
            <%= button_tag type: :button, class: class_names(:tag, active: (filter.style_list.include?(style.name) || filter.queries.any? {|query| style.name =~ %r{.*#{query}.*}i })), data: { action: 'filter#toggleFilter', filter_field_name_param: 's[]', filter_value_param: style.name } do %>
              <div class="flex gap-small">
                <span class="<%= tag_icon_class(context: 'styles') %>"></span>
                <span><%= style %></span>
              </div>
            <% end %>
          <% end %>

          <% event.genres.each do |genre| %>
            <div class="<%= class_names(:tag, active: filter.queries.any? {|query| genre.name =~ %r{.*#{query}.*}i }) %>">
              <div class="flex gap-small">
                <span class="<%= tag_icon_class(context: 'genres') %>"></span>
                <span><%= genre %></span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>

  <% if authenticated? %>
    <div class="event-actions">
      <%= button_to event, class: 'button', data: { turbo_method: :delete } do %>
        <span class="ti-trash"></span>
      <% end %>
    </div>
  <% end %>
</article>
