<fieldset id="<%= dom_id event %>">
  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= event.subtitle %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= l event.start_date, format: :long %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= event.tags.join(', ') %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= link_to "event link", event.url, target: :blank %>
  </p>

</fieldset>
