<article id="<%= dom_id event %>" class="event flex flex-col gap-medium">
  <div class="flex justify-between">
    <h4 class="event-date-and-location">
      <%= l event.start_date, format: :default %>
      –
      <% event.locations.each do |location| %>
        <%= button_tag type: :button, class: class_names(:tag, active: @locations.include?(location.name)), data: { action: 'combobox-filter#toggleTag', 'combobox-filter-tag-param': location.name, 'combobox-filter-context-param': 'locations' } do %>
          <div class="flex gap-small">
            <span class="<%= tag_icon_class(context: 'locations') %>"></span>
            <span><%= location %></span>
          </div>
        <% end %>
      <% end %>
    </h4>

    <% if authenticated? %>
      <%= link_to event, class: 'danger', data: { turbo_method: :delete } do %>
        <span class="ti-trash"></span>
      <% end %>
    <% end %>
  </div>

  <div class="event-title">
    <h2><%= link_to event.title, event.url, target: :blank %></h2>
    <% if event.subtitle.present? %>
      <h3><%= event.subtitle %></h3>
    <% end %>
  </div>

  <div class="flex flex-col gap-small">
    <% if event.genres.any? %>
      <div class="flex wrap gap-small">
        <% event.genres.each do |genre| %>
          <%= button_tag type: :button, class: class_names(:tag, active: @genres.include?(genre.name) || @tag_groups.any? { |group| group.genres.exists?(name: genre.name) }), data: { action: 'combobox-filter#toggleTag', 'combobox-filter-tag-param': genre.name, 'combobox-filter-context-param': 'genres' } do %>
            <div class="flex gap-small">
              <span class="<%= tag_icon_class(context: 'genres') %>"></span>
              <span><%= genre %></span>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</article>
