<section class="filter" data-controller="datepicker" data-datepicker-date-range-value="" data-datepicker-date-ranges-value="<%= @filter.date_ranges.to_json %>" data-datepicker-grid-value="2" data-datepicker-calendars-value="2" data-datepicker-format-value="YYYY-MM-DD" data-datepicker-lang-value="de-DE" data-datepicker-readonly-value="true" data-datepicker-preset-value="<%= Datepicker.preset.to_json %>" data-datepicker-preset-position-value="left">
  <%= form_with url: events_path, method: :get, id: 'filter-form', class: 'flex flex-col gap-large', data: { turbo: true, filter_target: 'form' } do |f| %>

    <div class="input-wrapper flex wrap gap-small">
      <% @filter.style_list.each do |style| %>
        <div class="hw-combobox__chip flex flex-row gap-small align-baseline">
          <span><%= style %></span>
          <span tabindex="0" class="hw-combobox__chip__remover ti-close" aria-label="Remove <%= style %>" data-action="click->filter#removeFilter:stop" data-filter-field-name-param='s[]' data-filter-value-param="<%= style %>"></span>
        </div>
      <% end %>
      <%= f.combobox 's[]', tags_path(context: 'styles', applied: @filter.style_list), value: '', preload: true, placeholder: t('.what') do |combobox| %>
        <% combobox.customize_fieldset class: 'flex-grow' %>
        <% combobox.customize_hidden_field data: { filter_target: 'input', existing_values: @filter.style_list.to_json } %>
        <% combobox.customize_handle class: "filter-icon #{tag_icon_class(context: 'styles')}" %>
      <% end %>
    </div>

    <div class="input-wrapper flex wrap gap-small">
      <% @filter.location_list.each do |location| %>
        <div class="hw-combobox__chip flex flex-row gap-small align-baseline">
          <span><%= location %></span>
          <span tabindex="0" class="hw-combobox__chip__remover ti-close" aria-label="Remove <%= location %>" data-action="click->filter#removeFilter:stop" data-filter-field-name-param='l[]' data-filter-value-param="<%= location %>"></span>
        </div>
      <% end %>
      <%= f.combobox 'l[]', tags_path(context: 'locations', applied: @filter.location_list), value: nil, preload: true, placeholder: t('.where') do |combobox| %>
        <% combobox.customize_fieldset class: 'flex-grow' %>
        <% combobox.customize_hidden_field data: { filter_target: 'input', existing_values: @filter.location_list.to_json } %>
        <% combobox.customize_handle class: "filter-icon #{tag_icon_class(context: 'locations')}" %>
      <% end %>
    </div>

    <%= f.hidden_field 'd[]', id: 'd[]-hidden-input', data: { existing_values: @filter.date_ranges.to_json, filter_target: 'input' } %>
    <div class="datepicker input-wrapper flex wrap gap-small" data-datepicker-target="wrapper">
        <% @filter.date_ranges.each do |date_range| %>
          <div class="hw-combobox__chip flex flex-row gap-small align-baseline">
            <span><%= datepicker_tag_content(date_range) %></span>
            <span tabindex="0" class="hw-combobox__chip__remover ti-close" aria-label="Remove <%= date_range %>" data-action="click->filter#removeFilter:stop" data-filter-field-name-param="d[]" data-filter-value-param="<%= date_range %>"></span>
          </div>
        <% end %>
      <%= text_field_tag '', '', id: 'd[]', class: 'datepicker-input', placeholder: t('.when'), data: { datepicker_target: 'input' } %>
      <span class="datepicker-handle filter-icon ti-calendar" data-action="click->datepicker#toggle"></span>
    </div>

    <%# <div class="save flex wrap justify-between gap-large"> %>
    <%#   <div class="filter-select flex flex-grow flex-wrap gap-small"> %>
    <%#     <%= f.combobox :f, filters_path, preload: true, placeholder: t('.filter') do |combobox| %1> %>
    <%#       <% combobox.customize_fieldset class: 'flex-grow' %1> %>
    <%#       <% combobox.customize_hidden_field data: { filter_target: 'filters' } %1> %>
    <%#       <% combobox.customize_handle class: "filter-icon ti-filter" %1> %>
    <%#     <% end %1> %>
    <%#   </div> %>

    <%#   <%1# <%= f.text_field :name, class: 'flex-grow', placeholder: 'Mein eigener Filter :)' %2> %1> %>

    <%#   <div class="flex"> %>
    <%#     <% if @filter.new_record? %1> %>
    <%#       <%= f.submit t('.create_filter'), class: 'flex-grow' %1> %>
    <%#     <% else %1> %>
    <%#       <%= f.submit t('.update_filter'), class: 'flex-grow', disabled: !@filter.changed? %1> %>
    <%#       <%= link_to filter_path(@filter), data: { turbo_prefetch: false, turbo_method: :delete } do %1> %>
    <%#         <%= t('.delete_filter') %1> %>
    <%#       <% end %1> %>
    <%#     <% end %1> %>
    <%#   </div> %>
    <%# </div> %>

  <% end %>
</section>

