<section class="filter flex flex-col gap-large" data-controller="datepicker" data-datepicker-date-range-value="" data-datepicker-date-ranges-value="<%= @filter.date_ranges.to_json %>" data-datepicker-grid-value="2" data-datepicker-calendars-value="2" data-datepicker-format-value="YYYY-MM-DD" data-datepicker-lang-value="de-DE" data-datepicker-readonly-value="true" data-datepicker-preset-value="<%= Datepicker.preset.to_json %>" data-datepicker-preset-position-value="left">
  <%= form_with url: events_path, method: :get, id: 'filter-form', class: 'flex flex-col gap-large', data: { filter_target: 'form' } do |f| %>
    <%= f.hidden_field 'f', value: @filter.id %>

    <div class="input-wrapper flex wrap gap-small align-center">
      <div class="chips flex flex-row gap-small">
        <% @filter.style_list.each do |style| %>
          <%= button_tag type: :button, class: class_names(:tag, :active), data: { action: 'filter#removeFilter', filter_field_name_param: 's[]', filter_value_param: style } do %>
            <div class="flex gap-small">
              <span class="<%= tag_icon_class(context: 'styles') %>"></span>
              <span><%= style %></span>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= f.combobox 's[]', tags_path(context: 'styles', applied: @filter.style_list), value: '', preload: true, placeholder: t('.what') do |combobox| %>
        <% combobox.customize_fieldset class: 'flex-grow' %>
        <% combobox.customize_hidden_field data: { filter_target: 'input', existing_values: @filter.style_list.to_json } %>
        <% combobox.customize_handle class: "filter-icon #{tag_icon_class(context: 'styles')}" %>
      <% end %>
    </div>

    <div class="input-wrapper flex wrap gap-small align-center">
      <div class="chips flex flex-row gap-small">
        <% @filter.location_list.each do |location| %>
          <%= button_tag type: :button, class: class_names(:tag, :active), data: { action: 'filter#removeFilter', filter_field_name_param: 'l[]', filter_value_param: location } do %>
            <div class="flex gap-small">
              <span class="<%= tag_icon_class(context: 'locations') %>"></span>
              <span><%= location %></span>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= f.combobox 'l[]', tags_path(context: 'locations', applied: @filter.location_list), value: nil, preload: true, placeholder: t('.where') do |combobox| %>
        <% combobox.customize_fieldset class: 'flex-grow' %>
        <% combobox.customize_hidden_field data: { filter_target: 'input', existing_values: @filter.location_list.to_json } %>
        <% combobox.customize_handle class: "filter-icon #{tag_icon_class(context: 'locations')}" %>
      <% end %>
    </div>

    <%= f.hidden_field 'd[]', id: 'd[]-hidden-input', data: { existing_values: @filter.date_ranges.to_json, filter_target: 'input' } %>
    <div class="datepicker input-wrapper flex wrap gap-small align-center" data-datepicker-target="wrapper">
      <div class="chips flex flex-row gap-small">
        <% @filter.date_ranges.each do |date_range| %>
          <%= button_tag type: :button, class: class_names(:tag, :active), data: { action: 'filter#removeFilter', filter_field_name_param: 'd[]', filter_value_param: date_range } do %>
            <div class="flex gap-small">
              <span class="<%= tag_icon_class(context: 'date') %>"></span>
              <span><%= datepicker_tag_content(date_range) %></span>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="hw-combobox__main__wrapper flex-grow">
        <%= text_field_tag '', '', id: 'd[]', class: 'datepicker-input', placeholder: t('.when'), data: { datepicker_target: 'input' } %>
        <span class="datepicker-handle filter-icon ti-calendar" data-action="click->datepicker#toggle"></span>
      </div>
    </div>
  <% end %>

  <%= turbo_frame_tag :filter_form do %>
    <%= form_with model: @filter, class: 'flex flex-col gap-large', data: { filter_target: 'filterForm' } do |f| %>
      <%= f.hidden_field :style_list, value: @filter.style_list, data: { source_name: 's[]', filter_target: 'filterInput' } %>
      <%= f.hidden_field :location_list, value: @filter.location_list, data: { source_name: 'l[]', filter_target: 'filterInput' } %>
      <%= f.hidden_field :date_ranges, value: @filter.date_ranges, data: { source_name: 'd[]', filter_target: 'filterInput' } %>

      <div class="flex flex-row gap-large justify-between">
        <div class="filter-select input-wrapper flex flex-grow flex-wrap gap-large justify-between">
          <%= f.combobox :name, filters_path, preload: true, placeholder: t('.filter') do |combobox| %>
            <% combobox.customize_fieldset class: 'flex-grow' %>
            <% combobox.customize_hidden_field data: { filter_target: 'filters' } %>
            <% combobox.customize_handle class: "filter-icon ti-filter" %>
          <% end %>
        </div>

        <%= link_to t('actions.new_filter'), new_filter_path, class: 'button', data: { turbo_stream: true } %>
      </div>

      <div class="actions flex flex-wrap justify-between">
        <% if @filter.persisted? %>
          <%= submit_tag t('actions.update_filter'), class: 'filter-button', disabled: !@filter.changed?, data: { action: 'filter#updateFilter:stop' } %>
          <%= link_to t('actions.reset_filter'), filter_path(@filter), disabled: !@filter.changed?, method: :get, class: 'button filter-button', data: { turbo_frame: '_top' } %>
          <%= link_to t('actions.delete_filter'), filter_path(@filter), class: 'button', data: { turbo_method: :delete, turbo_frame: '_top' } %>
        <% end %>

      </div>
    <% end %>
  <% end %>
</section>

