<% content_for :title, "Events" %>

<div class="flex flex-col gap-large align-stretch" data-controller='combobox-filter' data-action='hw-combobox:selection->combobox-filter#addTagFromCombobox' data-combobox-filter-genres-value="<%= @genres %>" data-combobox-filter-locations-value="<%= @locations %>">

  <section class="filter flex flex-col gap-large">
    <div class="searchbar flex justify-between">
      <%= combobox_tag "tags", tags_path(applied: (@genres | @locations)), data: { combobox_filter_target: 'combobox' } do |combobox| %>
        <% combobox.customize_fieldset class: 'flex-grow' %>
      <% end %>

      <%= form_with url: events_url, method: :get, class: 'flex-grow' do |f| %>
        <%= f.hidden_field 'l[]', value: params[:l], onchange: 'this.form.requestSubmit()', data: { combobox_filter_target: 'locations' } %>
        <%= f.hidden_field 'g[]', value: params[:g], onchange: 'this.form.requestSubmit()', data: { combobox_filter_target: 'genres' } %>

        <div data-controller="datepicker" data-datepicker-date-range-value="<%= params[:d] %>" data-datepicker-grid-value="1" data-datepicker-calendars-value="2" data-datepicker-format-value="YYYY-MM-DD" data-datepicker-lang-value="de-DE" data-datepicker-readonly-value="true" data-datepicker-preset-position-value="left">
          <div class="<%= class_names(:datepicker, active: params[:d].present?) %>" data-datepicker-target="wrapper">
            <%= f.text_field 'd', value: params[:d], onchange: 'this.form.requestSubmit()', data: { datepicker_target: 'input' } %>
            <span class="datepicker-handle" data-action="click->datepicker#toggle"></span>
          </div>
        </div>
      <% end %>

    </div>

    <div class="tag-list flex justify-start wrap gap-medium">
      <% @locations.each do |location| %>
        <%= button_tag "L:#{location}", type: :button, class: 'tag active', data: { action: 'combobox-filter#removeTag', 'combobox-filter-tag-param': location, 'combobox-filter-context-param': 'locations' } %>
      <% end %>
      <% @genres.each do |genre| %>
        <%= button_tag "G:#{genre}", type: :button, class: 'tag active', data: { action: 'combobox-filter#removeTag', 'combobox-filter-tag-param': genre, 'combobox-filter-context-param': 'genres' } %>
      <% end %>
    </div>

  </section>



  <section id="events" class="flex flex-col gap-small">
    <% @events.each do |event| %>
      <%= render event %>
    <% end %>
  </section>
</div>
